.contenitore{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*per togliere lo slittamento a sx su mobile*/
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body{
    background: rgb(61, 81, 131);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*MENU MOBILE*/

.menu-mobile{
    display: none;
    list-style: none;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    gap: 10px;
    padding: 10px;
}

.menu-mobile.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-desktop a,
.menu-mobile a{
    text-decoration: none;
    color: white;
}


.menu-desktop{
    display: none;
    flex: none;
}
.menu-desktop a{
    text-decoration: none;
    color: white;
}

/*per menu a tendina*/
.menu{
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: rgb(61, 81, 131);
    border: none;
    font-size: 45px;
    margin-left: 3px;
}

.logo{
    width: 200px;
    height: auto;
    margin-left: -10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.membri{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 10px 25px black;
    border-radius: 10px;
}



/*didascalia*/
.presentazione{
    margin-top: 100px;
    color: #faf8f2;
    text-align: center;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.presentazione p{
    max-width: 100%;
    width: 90%;
    padding: 15px;
    box-sizing: border-box;
}






/*navbar link*/
.gruppo a{
    color: #faf8f2;
}

.gruppo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/*per le foto*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    margin-top: 50px;  
    background: rgb(105, 123, 168);
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

/*immagini responsive*/
.container img{
    width: 100%;
    height: auto;
}


/*per il posizionamento*/
.membro,
.membro2,
.membro3,
.membro4,
.membro5,
.membro6,
.membro7,
.membro8{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*dimensione img*/
.membro img,
.membro2 img,
.membro3 img,
.membro4 img,
.membro5 img,
.membro6 img,
.membro7 img,
.membro8 img{
    max-width: 100%;
    width: 180px;
    height: auto;
    margin-top: 20px;
}


/*cambiare il colore dei nomi*/
.nome a,
.nome-2 a,
.nome-3 a,
.nome-4 a,
.nome-5 a,
.nome-6 a,
.nome-7 a,
.nome-8 a{
    color: white;
}

/*about */
h1, p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.informazioni{
    margin: 5px;
    gap: 5px;
}

/*link mia email */
.link{
    color: #faf8f2;
    text-decoration: none;
    margin-top: 5px;
}

/*link delle due pagine degli ateez */
.link2{
    color: #faf8f2;
}

/*container per il footer */
.footer-container{
    background-color: rgb(108, 124, 167);
    border-radius: 10px;
    margin-top: 60px;
}

.general{
    color: black;
    margin-top: 40px;   
}

.infos{
    color: #faf8f2;
    text-align: center;
    padding: 0 3%;
    font-family: 'Quicksand', sans-serif;
}


.pirate-king,
.treasure,
.from,
.ep,
.kq,
.treasure2,
.SMN,
.treasure3,
.GH,
.wave,
.adrenaline{
    color: #faf8f2;
    font-weight: bold;
}

/*tasto scopri*/
.scopri{
    color: #faf8f2;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
}

.clicca {
    color: gold;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/*media query per tablet*/
@media screen and (min-width:768px) {
    .menu-desktop{
        display: flex;
        list-style: none;
        font-weight: bold;
        font-family:'Quicksand, sans-serif';
        gap: 10px;
        padding: 10px;
    }
    
    .menu-mobile.active{
        display: none;
    }
    
    .menu{
        display: none;
    }


    /*dimensione img*/
    .membro img,
    .membro2 img,
    .membro3 img,
    .membro4 img,
    .membro5 img,
    .membro6 img,
    .membro7 img,
    .membro8 img{
        width: 200px;
        height: auto;
    }

  
    h1, p{
        font-size: 20px;
    }

    .presentazione{
        font-size: 20px;
    }

    .container{
       padding: 20px;
       grid-template-columns: repeat(2, 1fr);
    }

    /*tasto scopri*/
    .scopri{
        font-size: 25px;
    }

    .clicca {
        font-size: 25px;
    }

}

/*media query per laptop*/
@media screen and (min-width:1024px) {
    
    
    .menu-desktop{
        display: flex;
        list-style: none;
        font-weight: bold;
        font-family:'Quicksand', sans-serif;
        gap: 25px;
        padding: 20px;
        font-size: 20px;
    }
    
    .menu-mobile.active{
        display: none;
    }
    
    .menu{
        display: none;
    }

    .membri{
        width: 80%;
    }

    .container{
       padding: 20px;
       grid-template-columns: repeat(2, 1fr);
    }


    /*dimensione img*/
    .membro img,
    .membro2 img,
    .membro3 img,
    .membro4 img,
    .membro5 img,
    .membro6 img,
    .membro7 img,
    .membro8 img{
        width: 280px;
        height: auto;
    }


    /*didascalia*/
    .presentazione{
        font-size: 20px;
    }


    /*footer*/
    h1, p{
        font-size: 20px;
    }

   

    /*tasto scopri*/
    .scopri{
        margin-top: 100px;
    }

    /*tasto clicca*/
    .clicca {
        color: gold;
        display: flex;
        justify-content: center;
    
    }

    /*tasto scopri*/
    .scopri{
        font-size: 25px;
    }

    .clicca {
        font-size: 25px;
    }


       
}  


/*media query per desktop grandi*/
@media screen and (min-width:1200px) {
    
    
    .menu-desktop{
        display: flex;
        list-style: none;
        font-weight: bold;
        font-family:'Quicksand', sans-serif;
        gap: 10px;
        padding: 10px;
    }
    
    .menu-mobile.active{
        display: none;
    }
    
    .menu{
        display: none;
    }

    .membri{
        width: 80%;
    }

    .container{
       padding: 20px;
       grid-template-columns: repeat(2, 1fr);
    }

   

    /*dimensione img*/
    .membro img,
    .membro2 img,
    .membro3 img,
    .membro4 img,
    .membro5 img,
    .membro6 img,
    .membro7 img,
    .membro8 img{
        width: 100%;
        max-width: 300px;
        height: auto;
    }

      /*didascalia*/
    .presentazione{
        font-size: 20px;
    }

    h1, p{
        font-size: 20px;
    }

    

    /*tasto scopri*/
    .scopri{
        font-size: 25px;
    }

    .clicca {
        font-size: 25px;
    }

}  
